<html>
	<head>
	<title>Python Final Project Mainpage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
	</head>
	<body>

        <nav class="navbar navbar-static-top navbar-dark bg-inverse">
            <div class="container-fluid">
                <a class="navbar-brand" href="/about">About Developers</a>
            </div>
        </nav>
        <br/>
		
		<!-- <div class="jumbotron" style="height:100;"> -->
		<div class="alert alert-warning" role="alert" style="height:60;">
        <h3><em>Welcome to Yunghwan and Andrea's Webpage</em></h3>
		</div>  

		<div class="jumbotron">
            <div class="container">
                <h1>Search all the GIFs</h1>
            
                <form action="/results" class="form-inline">
                	<div class="form-group">
                		<input type="text" name="input"
                		palceholder="Enter a search input" class="form-control">
                	</div>
                	<input type="submit" name="btn btn-primary">
                </form>
            </div>
        </div>		

	</body>
</html>