<html>
	<head>
	<title>Python Final Project Mainpage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
	</head>
	<body>

        <!-- Linke to Project Group Introduction Page -->
        <nav class="navbar navbar-static-top navbar-dark bg-inverse">
            <div class="container-fluid">
                <a class="navbar-brand" href="/about">About Developers</a>
            </div>
        </nav>
        <br/>
		
		<!-- Welcoming Message -->
		<div class="alert alert-warning" role="alert" style="height:60;">
        <h3><em>Welcome to Yunghwan and Andrea's Webpage</em></h3>
		</div>  

		<!-- Search Box -->
        <div class="jumbotron">
            <div class="container">
                <h1>Search all the GIFs</h1>            
                <form action="/results" class="form-inline" method="GET">
                	<div class="form-group">
                		<input type="text" name="input" id="search_box"
                		placeholder="Enter a search input" autocomplete="on" class="form-control">
                        <div class="autocomplete"></div>
                	</div>
                	<input type="submit" name="btn btn-primary" class="active">
                </form>
            </div>
        </div>		
	</body>
</html>